
<style>
    .custom-menu-make {
        display: none;
        z-index: 1000;
        position: absolute;
        overflow: hidden;
        border: 1px solid #ccc;
        white-space: nowrap;
        font-family: sans-serif;
        background: #fff;
        color: #333;
        border-radius: 5px;
        padding: 0;
    }

        .custom-menu-make li {
            padding: 8px 12px;
            cursor: pointer;
            list-style-type: none;
            transition: all .3s ease;
            user-select: none;
        }
</style>

<ul class="custom-menu-make">
    <li data-action="duzenle">Düzenle</li>
    <li data-action="ekle">Ekle</li>
    <li data-action="sil">Sil</li>
</ul>


<script>
    $('body').on('contextmenu','form select#MakeID', function (e) {
        e.preventDefault();
        $('.custom-menu-make').finish().toggle(100).
            css({
                top: event.pageY + 'px',
                left: event.pageX + 'px'
            });
    });

    $(document).bind('mousedown', function (e) {
        if (!$(e.target).parents('.custom-menu-make').length > 0) {
            $('.custom-menu-make').hide(100);
        }
    });

    $('.custom-menu-make li').click(function () {
        //alert($(this).text());

        switch ($(this).attr('data-action')) {
            case 'duzenle':
                $.ajax({
                    url: '/Admin/Make/EditModal/' + $('form select#MakeID option:selected').val(),
                    type: 'GET',
                    success: function (result) {
                        //console.log(result);
                        $('#makeModal').html(result);
                        $('#makeModal').modal('show');
                    }
                });
                break;
            case 'ekle':
                $.ajax({
                    url: '/Admin/Make/AddModal/' + $('form select#CategoryID option:selected').val(),
                    type: 'GET',
                    success: function (result) {
                        //console.log(result);
                        $('#makeModal').html(result);
                        $('#makeModal').modal('show');
                    }
                });
                break;
            case 'sil':
                $.ajax({
                    url: '/Admin/Make/DeleteModal/' + $('form select#MakeID option:selected').val(),
                    type: 'GET',
                    success: function (result) {
                        //console.log(result);
                        $('#makeModal').html(result);
                        $('#makeModal').modal('show');
                    }
                });
                break;
            default: break;
        }

        $('.custom-menu-make').hide(100);

    });
</script>