@model IEnumerable<string>
<div class="container">
    <div class="slider-container rev_slider_wrapper" style="height: 415px;">
        <div id="revolutionSlider" class="slider rev_slider manual">
            <ul>
                @{
                    foreach (string imgUrl in Model)
                    {
                        <li data-transition="fade">
                            <img src="@imgUrl"
                                 alt="slide bg"
                                 data-bgposition="center center"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat"
                                 class="rev-slidebg">
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>